<%= render "shared/header"%>
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading d-flex flex-column align-items-center ">新規投稿</h2>
      <%= render partial: "form", locals: { post: @post } %>
    </div>
  </div>
<%= render "shared/footer"%>